html {
 width: 400px;
}
body {
 font-family: Helvetica, sans-serif;
 background-color: black;
}
h1 {
 text-align: center;
 color: lightgrey;
}
#buttonOne {
 border-radius: 0px;
 width: 100%;
 padding: 10px 0px;
 background-color: lightgrey;
}
#buttonTwo {
 border-radius: 0px;
 width: 100%;
 padding: 10px 0px;
 margin-top: 10px;
 background-color: lightgrey;
}
#buttonThree {
 border-radius: 0px;
 width: 100%;
 padding: 10px 0px;
 margin-top: 10px;
 background-color: lightgrey;
}
#buttonFour {
 border-radius: 3px;
 width: 100%;
 padding: 10px 0px;
 margin-top: 10px;
 background-color: lightgrey;
}
#buttonFive {
 border-radius: 3px;
 width: 100%;
 padding: 10px 0px;
 margin-top: 10px;
 background-color: lightgrey;
}
